h1 {
    color: white;
    padding-left: 1% ;
    padding-right: 1%;
}
 h2{
     text-align: center;
     color: #ea3030;
 }

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

.header *{
    border: solid;
}

a:link{
 color : #ea3030;
}
a:visited{
    color : #29e75b
}
.menu {
    margin-right: 10%;
    padding-top: 1%;
}
.menu a{
    margin-left: -1%;
}

.item {
    position: relative;
    background-color: powderblue;
}
.item p{
    position: absolute;
    top: 93% ;
    left: 40%;
    opacity: 0;
    color: #311bf3
}
.item:hover p{
    opacity: 0.9;
} 